# Diretórios de build
[Bb]in/
[Oo]bj/

# Arquivos específicos do usuário
*.user
*.suo
*.userosscache
*.sln.docstates

# Configurações do Visual Studio Code
.vscode/

# Pacotes NuGet
*.nupkg
packages/

# Arquivos de log
*.log

# Arquivos temporários
*.tmp
*.temp

# Artefatos de build
**/bin/Release/
**/bin/Debug/

# DLLs geradas
*.dll

# Distribuições compactadas
*.zip

# Logs de workflows do GitHub
.github/workflows/*.log
